@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 223, 186; /* Peach */
  --background-end-rgb: 255, 241, 224;   /* Cream */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 18, 32, 47;   
    --background-end-rgb: 36, 47, 65;     
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white; /* Mengganti dengan warna putih */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
